*
{
	font-family:verdana,sans;
	color:#555555;
	font-family: 0.9 em;
}

body,html{
	/*background-color: #2b1600;
	background-color: #586202;*/
	background-color: #fff;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
}
body ul
{
	list-style:none;padding:0;
}

:focus{outline:none;}
.app{display:none;}

.app-right{
	float:right;
	clear:right;
}

.main-left
{
	float:left;
	/*width:80%;*/
	overflow: auto;
}
.menu-right{
	float:right;
	min-width:320px;
	height:100%;
}

.ui-tabs-nav .tabs-header{
	float:right!important;
	padding: .5em 1em!important;
}

.bgBox{
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	/*padding:8px;*/
	
}
.ui-helper-reset, .ui-widget,
.ui-tabs-panel table{
	font-size: 0.9em;
	border-spacing: 0;
	border-collapse: collapse;
}

.ui-tabs-panel table input[type="text"]{
	border: 0;
	outline: none;
	font-size: 0.9em;
}

.ui-tabs-panel th
{
	background-color: #777;
	color:#fff;
}
.ui-tabs-panel th,.ui-tabs-panel td
{
	padding:2px 5px;
}
tr.even{ background-color: #aaa;}
tr.odd{ background-color: #bbb;}

input[namei="submit"]{margin: auto;}

tr:first-line{background: none;}

th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}
form button{display:table;margin: 2px auto;}
#clients-list th{
	cursor: pointer;
}
#clients-menu li
{
	height: 2em;
}

#mtabs{
    background-image: -moz-linear-gradient(top, #ffffff, #dddddd); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dddddd),color-stop(1, #ffffff)); /* Safari & Chrome */
}


/*	 FIELD CLASSES 
.first_name, .last_name
{
	
}
	:'Vorname',
	:'Name',
	phone_number:'Telefon',
	address1:'Straße',
	postal_code:'PLZ',
	city:'Ort',
	last_local_call_time:'Anrufdatum',
	vendor_lead_code:'Mitgliedsnummer'*/
