*
{
	font-family:verdana,sans;
	color:#555555;
	
}

body,html{
	/*background-color: #2b1600;*/
	background-color: #586202;
	height:100%;
	overflow:hidden;
	margin:0;
	padding:0;
}
body ul
{
	list-style:none;
}

:focus{outline:none;}
.app{display:none;}

.app-right{
	float:right;
	clear:right;
}

.menu-right{
	float:right;
	min-width:320px;
	height:100%;
}

#bgBox{
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	padding:8px;
	
}

#mtabs{
    background-image: -moz-linear-gradient(top, #ffffff, #dddddd); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #dddddd),color-stop(1, #ffffff)); /* Safari & Chrome */
}

#datetime div{
	margin:3px;
	padding: 13px 5px;
	text-align: center;
}
/*#datetime  span{margin: 15px auto;}*/
